#game {
	width:100%;
}
#game table {
	margin: 0 auto;
	width:1%;
	border-collapse: collapse;
}
#game td {
	width:100%;
	height:100%;
	border: 1px solid blue;
}
#game img {
	display: block;
}
.second img {
	display: none !important; 
}